
<div class="container">
    <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
        {% for item in section.blocks %}
            {% assign img = item.settings.instagram_img %}
            <div class="col">
                <div class="tp-instagram-item p-relative z-index-1 fix mb-30 w-img">
                   <img src="{{ img | img_url: 'master' }}" alt="">
                   <div class="tp-instagram-icon">
                      <a href="{{ img | img_url: 'master' }}" class="popup-image"><i class="fa-brands fa-instagram"></i></a>
                   </div>
                </div>
             </div>
        {% endfor %}


    </div>
</div>


 {% schema %}
    {
       "name": "Shofy Instagram",
       "class": "tp-instagram-area pb-70",
       "tag": "section",
       "settings": [

       ],
       "blocks": [
          {
             "name": "Instagram",
             "type": "instagram",
             "limit": 5,
             "settings": [
                {
                    "type": "image_picker",
                    "id": "instagram_img",
                    "label": "Image"
                }
             ]
          }
       ],
       "presets": [
          {
             "name": "Shofy Instagram",
             "blocks": [

             ]
          }
       ]
    }
 {% endschema %}