
<div class="container">
    <div class="row gx-1 gy-1 gy-xl-0">

        {% for item in section.blocks %}
            {% assign s = item.settings %}
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="tp-feature-item d-flex align-items-start">
                <div class="tp-feature-icon mr-15">
                    <span>
                        {% if item.features_icon != blank %}
                            {{ s.features_icon }}
                        {% else %}
                            <svg width="33" height="27" viewBox="0 0 33 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.7222 1H31.5555V19.0556H10.7222V1Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.7222 7.94446H5.16667L1.00001 12.1111V19.0556H10.7222V7.94446Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25.3055 26C23.3879 26 21.8333 24.4454 21.8333 22.5278C21.8333 20.6101 23.3879 19.0555 25.3055 19.0555C27.2232 19.0555 28.7778 20.6101 28.7778 22.5278C28.7778 24.4454 27.2232 26 25.3055 26Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.25001 26C5.33235 26 3.77778 24.4454 3.77778 22.5278C3.77778 20.6101 5.33235 19.0555 7.25001 19.0555C9.16766 19.0555 10.7222 20.6101 10.7222 22.5278C10.7222 24.4454 9.16766 26 7.25001 26Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                        {% endif %}
                                                       
                    </span>
                </div>
                <div class="tp-feature-content">
                    <h3 class="tp-feature-title">Free Delivary</h3>
                    <p>Orders from all item</p>
                </div>
                </div>
            </div>
        {% endfor %}


    </div>
</div>

 {% schema %}
    {
       "name": "Shofy Features",
       "class": "tp-feature-area tp-feature-border-radius pb-70",
       "tag": "section",
       "settings": [
 
       ],
       "blocks": [
          {
             "name": "Features",
             "type": "features",
             "limit": 4,
             "settings": [

                {
                   "type": "textarea",
                   "id": "features_icon",
                   "label": "Slider Title",
                   "default": "The best tablet Collection 2023"
                },
                {
                   "type": "text",
                   "id": "title",
                   "label": "Title",
                   "default": "Free Delivary"
                },
                {
                   "type": "text",
                   "id": "sub_title",
                   "label": "Sub Title Two",
                   "default": "Orders from all item"
                }
             ]
          }
       ],
       "presets": [
          {
             "name": "Shofy-Features",
             "blocks": [

             ]
          }
       ]
    }
 {% endschema %}